<!doctype html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
    <script>
      // once the document is loaded
      $(document).ready(function(){
 // we'll add a click handler to the button
        $('#get_all_button').click(function(){
          // this is the jQuery get function, which we'll use to send Ajax requests
   // to this function we are passing 3 arguments
          // a url, function, and the dataType parameter
          $.get('/quotes/index_json', function(res) {
     // the function will send a request to the above url and get a response
            // which we will store in the variable 'res'
            var htmlStr = ""; // we create an empty string
            // then loop through our res and create a string of html tags below
            for(var i = 0; i < res['quotes'].length; i++) {
              htmlStr += "<div class='quote'>";
              htmlStr += "<h2>" + res.quotes[i].author + "</h2>";
              htmlStr += "<p>" + res.quotes[i].quote + "</p>";
              htmlStr += "</div>";
            }
            // uncomment the line below to see what our string looks like
     console.log(htmlStr);
     // insert our string into our document using jQuery
            $('#quotes').html(htmlStr);
          }, 'json');
        });
      });
    </script>
  </head>
  <body>
    <div class='container'>
      <button id='get_all_button'>Get all quotes</button>
      <div id='quotes'>
      </div>
    </div>
  </body>
</html>
